body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  position: fixed;
  top: 0;
  left: 0.8;
  right: 0;
  border: 5px solid hsl(334deg 12% 82% / 79%)
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(20, 18, 18);
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

#home,
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  min-height: 400px;
  padding: 1rem;
}

#home {
  background-color: cornsilk;
}

#about img {
  max-height: 50%;
}
main {
  padding: 0 1rem;
}

.new-photo-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  border: 5px solid hsl(334deg 12% 82% / 79%)
}


.new-review-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  border: 5px solid hsl(334deg 12% 82% / 79%)

}

.new-user-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  border: 5px solid hsl(334deg 12% 82% / 79%)


}

.new-group-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  border: 5px solid hsl(334deg 12% 82% / 79%)

}

.new-group_user-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  border: 5px solid hsl(334deg 12% 82% / 79%)


}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  
 
}

.CardUser {
  margin: 1rem;
  border: 3px solid #ddc21dc9;

}

.CardUser{
  margin: 1rem;
  border: 3px solid #ddc21dc9;

}

.CardGroup{
  margin: 1rem;
  border: 3px solid #ddc21dc9;
   

}

li.CardGroup {
  background-color: hsl(54deg 21% 92%);
}

li.CardUser {
  background-color: hsl(54deg 21% 92%);

}

.card img {
  width: 100%;
  border: red;
  border: 5px solid #ddc21dc9;
}

.card button {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
